<p>Greetings {{ user_name }}.</p>

<p>There's a new comment on <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.title }}</a>, a post</a> you responded to at {{ site }}.</p>

<p>{{ comment.name }} had this to say:</p>

<p>{{ comment.comment }}</p>

<p>Click <a href="http://{{ site.domain }}{{ mute_url }}">http://{{ site.domain }}{{ mute_url|slice:":40" }}...</a> to unsubscribe from comment notifications for this post.</p>
<p>--<br/>
Kind regards,<br/><br/>
the lonely comment notification bot at {{ site }}
</p>
