{% extends "mnmnwag/base.html" %}
{% load i18n %}

{% block title %}Comment moderation{% endblock %}

{% block content %}
<div class="comment-form-container">
    <div class="h4 moderation-message">&check; Your comment has been submitted for moderation.</div>
</div>
<p>
    {% with content_object_url=comment.content_object.get_absolute_url content_object_str=comment.content_object %}
        Return to <a href="{{ content_object_url }}">{{ content_object_str }}</a>
    {% endwith %}
</p>
{% endblock %}
