#blog-index {
  .blog-post {
    margin: 4rem 0;

    > * {
      margin-bottom: 1.5rem;
    }

    header {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    main {
      p,
      ul,
      ol {
        margin-bottom: 1rem;
      }
    }

    footer {
      font-style: italic;
      > div {
        margin-bottom: .25rem;
      }
    }
  }
}
