// thanks to coolors.co

$aqua: #0df;
$bg-black: #000;
$blizzard-blue: #b8f3ff;
$dark-blue: #181f41;
$dark-green: #040;
$link-blue: #00f;
$green: #0f0;
$hay: #b9baa3;
$mint: #44adb8;
$ming: #246a73;
$baby-powder: #fffff8;
$brown: #333138;
$prince: #573b64;
$teal: #44adb8;
$yellow: #ad0;
$sage: #bcb382;
$gainsboro: #dddfdd;
$manatee: #a2a3bb;


body.theme-light {
  background-color: $baby-powder;
  color: $brown;
  > header {
    border-bottom: 2px solid $manatee;
    color: #000;
  }
  > nav > .constrainer {
    border-bottom: 2px solid $manatee;
    border-left: 2px solid $manatee;
    border-right: 2px solid $manatee;
  }
  #content > .constrainer {
    > aside { background-color: $gainsboro; }
    > main { color: $brown; }
    a, a:link, a:visited {
      color: $link-blue;
    }
  }
  > footer {
    border-top: 2px solid $manatee;
  }
}

body.theme-dark {
  background-color: $bg-black;
  color: silver;
  > header {
    background-color: $dark-blue;
    border-bottom: 2px solid $ming;
  }
  > nav > .constrainer {
    border-bottom: 2px solid $ming;
    border-left: 2px solid $ming;
    border-right: 2px solid $ming;
  }
  #content > .constrainer {
    > aside { background-color: $ming; }
    > main {
      background-color: $dark-blue;
      color: silver;
    }
    a, a:link, a:visited {
      color: $blizzard-blue;
    }
  }
  > footer {
    border-top: 2px solid $ming;
  }
}

body.theme-retro {
  background-color: #000;
  color: $green;
  > header {
    background-color: $bg-black;
    border-bottom: 2px solid $green;
  }
  > nav > .constrainer {
    border-bottom: 2px solid $green;
    border-left: 2px solid $green;
    border-right: 2px solid $green;
  }
  #content > .constrainer {
    > aside { background-color: $dark-green; }
    > main { color: $green; }
    a, a:link {
      color: $aqua;
    }
    a:visited {
      color: $yellow;
    }
  }
  > footer {
    border-top: 2px solid $green;
  }
}

