// colors as defined by coolors.co

$white: #fffff8;  // "baby powder"
$black: #000807;  // "rich black (FOGRA 39)"
$dark-grey: #333;

// light theme specific
$azure: azure;
$jet: #333138;
$manatee: #a2a3bb;
$red: #a34054;        // "amaranth purple"
$star-command-blue: #0e79b2;

// dark theme specific
$blizzard-blue: #b8f3ff;
$dark-blue: #181f41;  // "space cadet"
$dark-cyan: #368f8b;
$ming: #246a73;
$platinum: #e0e0e0;

// retro theme specific
$aqua: #0df;          // "sky blue (crayola)"
$dark-green: #040;    // "lincoln green"
$green: #0f0;
$sheen-green: #ad0;

// unused
$french-lilac: #8d6b94;
$gainsboro: #dddfdd;
$light-blue: #93c5d0;
$light-yellow: #ffffe0;
$purple: #551a8b;


body.theme-light {
  background-color: $white;
  color: $jet;
  a, a:link, a:visited { color: $star-command-blue; }
  > header {
    border-bottom: 2px solid $manatee;
    color: $black;
    a, a:link, a:visited { color: $jet; }
    a:hover { color: $star-command-blue; }
  }
  > #navbar > .constrainer {
    border-bottom: 2px solid $manatee;
    border-left: 2px solid $manatee;
    border-right: 2px solid $manatee;
  }
  #content > .constrainer {
    > aside { background-color: $azure; }
    > main { color: $jet; }
  }
  > footer {
    border-top: 2px solid $manatee;
  }

  ul.pager .pager-item {
    border-color: $white;
    &.active {
      border-color: $black;
    }
    &:hover {
      border-color: $red;
    }
  }

  input[type='text'],
  textarea {
    border: 1px dashed $jet !important;
  }
  [style-as-button] {
    background-color: $jet;
    color: $white;
  }
  .up-modal-content {
    background-color: $white;
  }
  .wagtail-userbar__item a { color: #aaa; }
}

body.theme-dark {
  background-color: $black;
  color: $platinum;
  a, a:link, a:visited { color: $blizzard-blue; }
  > header {
    background-color: $dark-blue;
    border-bottom: 2px solid $ming;
    a, a:link, a:visited { color: $platinum; }
    a:hover { color: $blizzard-blue; }
  }
  > #navbar > .constrainer {
    border-bottom: 2px solid $ming;
    border-left: 2px solid $ming;
    border-right: 2px solid $ming;
  }
  #content > .constrainer {
    > aside {
      background-color: $ming;
      [style-as-button] {
        background-color: $dark-blue;
        color: $platinum;
      }
    }
    > main {
      background-color: $dark-blue;
      color: $platinum;
    }
  }
  > footer {
    border-top: 2px solid $ming;
  }

  ul.pager .pager-item {
    border-color: $dark-blue;
    &.active {
      border-color: $ming;
    }
    &:hover {
      border-color: $dark-cyan;
    }
  }

  input[type='text'],
  textarea {
    background-color: $dark-grey;
    color: $platinum;
    &::placeholder { color: $platinum; }
  }
  [style-as-button] {
    background-color: $ming;
    color: $white;
  }
  .up-modal-content {
    background-color: $black;
  }
}

body.theme-retro {
  background-color: $black;
  color: $green;
  a, a:link, a:visited { color: $aqua; }
  a:hover { color: $sheen-green; }
  > header {
    background-color: $black;
    border-bottom: 2px solid $green;
    a, a:link, a:visited { color: $aqua; }
    a:hover { color: $sheen-green; }
  }
  > #navbar > .constrainer {
    border-bottom: 2px solid $green;
    border-left: 2px solid $green;
    border-right: 2px solid $green;
    color: $sheen-green;
    nav {
      a, a:link, a:visited { color: $aqua; }
      a:hover { color: $sheen-green; }
    }
  }
  #content > .constrainer {
    > aside {
      background-color: $dark-green;
      [style-as-button] {
        background-color: $black;
        color: $sheen-green;
      }
    }
    > main { color: $green; }
  }
  > footer {
    border-top: 2px solid $green;
  }

  ul.pager .pager-item {
    border-color: $black;
    &.active {
      border-color: $green;
    }
    &:hover {
      border-color: $sheen-green;
    }
  }

  input[type='text'],
  textarea {
    background-color: $dark-grey;
    color: $sheen-green;
    &::placeholder { color: $sheen-green; }
  }
  [style-as-button] {
    background-color: $dark-green;
    color: $sheen-green;
  }
  .up-modal-content {
    background-color: $black;
  }
}
