// font stacks
$sans-stack: Raleway, sans-serif;
$serif-stack: Alegreya, serif;
$mono-stack: 'Nanum Gothic Coding', monospace;

// font weights
$medium: 500;     // Alegreya uses this
$semibold: 600;   // Raleway uses this

[style-as-button] {
  font-size: 1rem;
}

h2, .h2 {
  font-family: $sans-stack;
  font-size: 1.6rem;
}

h3, .h3 {
  font-size: 1.45rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

input[type='text'],
textarea {
  font-family: $mono-stack;
}

.force-sans {
  font-family: $sans-stack;
}

.mahna {
  font-family: $serif-stack;
}

.post-title {
  font-weight: $semibold;
}

.post-info {
  font-style: italic;
}

.read-more {
  font-size: 1.15rem;
  letter-spacing: .25rem;
}

.tag-description {
  margin: -2rem 0 3rem;
  p {
    font-size: 1.45rem;
  }
}

.comment-content {
  .content {
    font-size: 1.15rem;
  }
}

.comment-form-container {
  > details {
    summary {
      font-size: .75rem;
      font-weight: $semibold;
      text-transform: uppercase;
    }
    li {
      font-size: .9rem;
    }
  }
  form {
    label,
    label + span {
      font-size: .75rem;
      font-weight: $semibold;
    }
    label {
      text-transform: uppercase;
    }
    input[type='text'],
    textarea {
      font-size: 1.15rem;
    }
    .checkbox label {
      font-size: .85rem;
      font-weight: normal;
      text-transform: none;
    }
  }
}


// MAIN LAYOUT FROM _layouts.scss DUPLICATED (mostly) HERE
body {
  font-family: $serif-stack;

  #header {
    font-family: $sans-stack;
    font-size: 2rem;
    #site-logo {
      font-family: $mono-stack;
      font-size: 4rem;
      letter-spacing: -.12em;
    }
    #site-name {
      letter-spacing: .1em;
    }
  }

  #navbar {
    font-family: $sans-stack;
    #page-message {
      font-weight: $semibold;
    }
    nav {
      font-size: 1.1rem;
      a.active,
      a.up-active {
        font-weight: $semibold;
      }
    }
  }

  #content {
    .constrainer > aside {
      font-family: $sans-stack;
      h4, .h4 {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    .constrainer main.blog,  // maintains style during unpoly transition
    .constrainer > main {
      p,
      ul,
      ol {
        font-size: 1.25rem;
        line-height: 1.6;
      }

      header,
      footer {
        font-family: $sans-stack;
      }
    }
  }

  > footer {
    font-family: $sans-stack;
  }
}
