// font stacks
$sans-stack: 'Raleway', sans-serif;
$serif-stack: 'Alegreya', serif;
$mono-stack: 'Nanum Gothic Coding', monospace;

// font weights
$medium: 500;     // Alegreya uses this
$semibold: 600;   // Raleway uses this

[style-as-button] {
  font-size: 1rem;
}

h2, .h2 {
  font-family: $sans-stack;
  font-size: 1.6rem;
}

h3, .h3 {
  font-size: 1.45rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

code, kbd, samp {
  font-size: 1rem;
  font-weight: $semibold;
}

input[type='text'],
textarea {
  font-family: $mono-stack;
}

.annotation-toggle {
  span {
    &::before {
      content: '×';
      font-size: 2rem;
      line-height: 0;
      margin-right: .45rem;
    }
    font-family: $sans-stack;
    font-variant: small-caps;
  }
}

.asterism {
  // Raleway does not have the asterism, so we force Alegreya
  // to prevent a fallback to system fonts
  font-family: $serif-stack;
  position: relative;
  top: 2px;
}

.force-sans {
  font-family: $sans-stack;
}

.mahna {
  font-family: $serif-stack;
}

.post-title {
  font-weight: $semibold;
}

.post-info {
  font-style: italic;
  & > div::after {
    font-style: normal;
  }
}

.read-more {
  font-family: $sans-stack;
  font-size: 1.15rem;
  font-weight: $semibold;
  letter-spacing: .2rem;
  text-transform: lowercase;
}

.tag-description {
  p {
    font-size: 1.45rem;
    font-style: italic;
  }
}

.comment-content {
  .content {
    font-size: 1.15rem;
  }
}

.comment-form-container {
  > details {
    summary {
      font-size: .75rem;
      font-weight: $semibold;
      text-transform: uppercase;
    }
    li {
      font-size: .9rem;
    }
  }
  form {
    label,
    label + span {
      font-size: .75rem;
      font-weight: $semibold;
    }
    label {
      text-transform: uppercase;
    }
    input[type='text'],
    textarea {
      font-size: 1.15rem;
    }
    .checkbox label {
      font-size: .85rem;
      font-weight: normal;
      text-transform: none;
    }
  }
}


// MAIN LAYOUT FROM _layouts.scss DUPLICATED (mostly) HERE
body {
  font-family: $serif-stack;

  #header {
    font-family: $sans-stack;
    font-size: 2rem;
    #site-logo {
      font-family: $mono-stack;
      font-size: 4rem;
      letter-spacing: -.12em;
    }
    #site-name {
      letter-spacing: .1em;
    }
  }

  #navbar {
    font-family: $sans-stack;
    #page-message {
      font-weight: $semibold;
    }
    nav {
      font-size: 1.1rem;
      a.active,
      a.up-active {
        font-weight: $semibold;
      }
    }
  }

  #content {
    .constrainer > aside {
      font-family: $sans-stack;
      h4, .h4 {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    .constrainer main.blog,  // maintains style during unpoly transition
    .constrainer > main {
      p,
      blockquote,
      ul,
      ol,
      details {
        font-size: 1.25rem;
        line-height: 1.6;
      }
      blockquote {
        font-style: italic;
        em, i {
          font-style: normal;
        }
      }

      header,
      footer {
        font-family: $sans-stack;
      }
    }
  }

  > footer {
    font-family: $sans-stack;
  }
}

form.subs {
  input {
    font-size: 1.25rem;
  }
}

#stats {
  b {
    font-weight: $semibold;
  }
}
