// adapted from "Pure CSS slide in push menu"
// by Vincent Perlerin
// https://codepen.io/vperl/pen/NYmJaK

label[for='main_menu'],
nav {
  -webkit-transition: all .2s cubic-bezier(.23, 1, .32, 1);
  transition: all .2s cubic-bezier(.23, 1, .32, 1);
}
.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: .25rem .4rem;
  text-transform: none;
  transition-duration: .15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;
}
.hamburger:hover {
  opacity: .7;
}
.hamburger-box {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 1.5rem;
}
.hamburger-inner {
  display: block;
  margin-top: -2px;
  top: 50%;
}
input[name='main_menu']:checked ~ nav,
nav {
  margin: 0;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: $grey; // color of hamburger
  border-radius: 4px;
  height: 4px;
  position: absolute;
  width: 1.5rem;
}
.hamburger-inner::after,
.hamburger-inner::before {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--elastic .hamburger-inner {
  top: 2px;
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
}
label[for='main_menu'] {
  font-weight: 700;
  position: absolute;
  z-index: 500;
}
input[name='main_menu'] {
  display: none;
}
input[name='main_menu']:checked ~ nav li:nth-child(2) {
  border-top: 1px solid rgba(255, 255, 255, .3);
}
input[name='main_menu']:checked ~ nav li a {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  padding: .9rem;
}
input[name='main_menu']:checked ~ label .hamburger .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
}
input[name='main_menu']:checked ~ label .hamburger .hamburger-inner::before {
  opacity: 0;
}
input[name='main_menu']:checked ~ label .hamburger .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
  transform: translate3d(0, -20px, 0) rotate(-270deg);
}
nav {
  -webkit-transition: all .2s cubic-bezier(.17, .67, .44, .58);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  height: 100%;
  position: fixed;
  top: 0;
  transition: all .2s cubic-bezier(.17, .67, .44, .58);
  width: 18rem;
}


@include media(big) {
  nav,
  nav ul {
    width: auto;
  }
  label[for='main_menu'] {
    display: none;
  }
  nav {
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  nav ul {
    height: auto;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    border-bottom: none medium;
    left: inherit;
  }
}


.left_menu input[name='main_menu']:checked ~ section,
input[name='main_menu']:checked ~ section {
  -webkit-transform: translate3d(18rem, 0, 0);
  transform: translate3d(18rem, 0, 0);
}
.left_menu input[name='main_menu']:checked ~ label[for='main_menu'] {
  left: 15rem;
}
.right_menu input[name='main_menu']:checked ~ section {
  -webkit-transform: translate3d(-18rem, 0, 0);
  transform: translate3d(-18rem, 0, 0);
}
.right_menu input[name='main_menu'] ~ label[for='main_menu'] {
  margin-top: 8px;
  right: .85rem;
}


@include media(not-big) {
  .left_menu nav li a {
    left: -100%;
  }
  .left_menu nav {
    left: 0;
    margin-left: -18.8rem;
  }
  .left_menu input[name='main_menu']:checked ~ nav li a {
    left: 0;
  }
  .left_menu input[name='main_menu'] ~ label[for='main_menu'] {
    left: .5rem;
  }
  .right_menu nav li a {
    right: -100%;
  }
  .right_menu nav {
    margin-right: -18.8rem;
    right: 0;
  }
  .right_menu input[name='main_menu']:checked ~ nav ul {
    padding-top: 6rem;
  }
  .right_menu input[name='main_menu']:checked ~ nav li {
    text-align: center;
  }
  .right_menu input[name='main_menu']:checked ~ nav li a {
    display: inline-block;
    right: 0;
    text-align: center;
  }
  nav ul {
    background-color: #fff; // slide-out background
    color: $grey;
    width: 18rem;
  }
}


nav li,
nav ul {
  margin: 0;
}
nav ul {
  height: 100%;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
nav li a {
  display: block;
  outline: 0;
  position: relative;
  text-decoration: none;
}
