$std-padding: 2.5rem 2.5rem 3rem 2.5rem;
$std-padding-short: .8rem 2.5rem .8rem 2.5rem;

$std-padding-mobile: 2.5rem 1rem 3rem;
$std-padding-mobile-short: 1rem;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .constrainer {
    height: 100%;
    margin: 0 auto;
    max-width: $site-max-width;
  }

  > header {
    @include media(desktop) {
      padding-top: 1rem;
    }
    @include media(mobile) {
      padding-bottom: 1rem;
      text-align: center;
    }
    .constrainer {
      @include media(mobile) {
        padding: $std-padding-mobile-short;
      }
      padding: $std-padding-short;
    }
    a:hover { text-decoration: none; }
    #site-header {
      @include media(mobile) {
        flex-direction: column;
      }
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }
    #site-logo {
      @include mobile-full-width;
    }
    #site-name {
      @include mobile-full-width;
      position: relative;
      top: 5px;  // MAGIC NUMBER!
    }
  }

  #navbar {
    .constrainer {
      @include media(mobile) {
        flex-direction: column-reverse;
        padding: $std-padding-mobile-short;
        text-align: center;
      }
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      padding: $std-padding-short;
    }
    a.active:hover {
      text-decoration: none;
    }
    #page-message {
      @include mobile-full-width;
    }
    nav {
      @include media(mobile) {
        margin-bottom: 1rem;
        width: 100%;
      }
      min-width: 322px;  // MAGIC NUMBER!
      ul {
        display: flex;
        justify-content: space-between;
      }
      a.active {
        &::after {
          content: '<';
          margin-left: .25rem;
        }
        &::before {
          content: '>';
          margin-right: .25rem;
        }
      }
    }
  }

  #content {
    @include media(desktop) {
      display: flex;
      flex-direction: column;
    }
    flex-grow: 1;

    .constrainer {
      @include media(desktop) {
        align-items: stretch;
        flex-direction: row-reverse;
        flex-grow: 1;
        width: 100%;
      }
      display: flex;
      flex-direction: column-reverse;

      > * {
        @include media(mobile) {
          padding: $std-padding-mobile;
        }
        padding: $std-padding;
      }

      > main {
        flex-grow: 1;
        padding-bottom: 1rem;

        ol,
        ul {
          margin-left: 4rem;
        }

        ul {
          list-style: disc;
        }

        &.blog {
          @include media(desktop) {
            max-width: $content-max-width;
            width: 100%;
          }
        }
      }

      > aside {
        @include media(desktop) {
          flex-grow: 1;
          min-width: 285px;
        }
        > * {
          margin-bottom: 2rem;
        }
        details {
          summary h4 {
            cursor: pointer;
            display: inline-block;
          }
          ul {
            line-height: 1.45;
            margin-top: .75rem;
          }
        }
      }
    }
  }

  > footer {
    text-align: center;
    .constrainer {
      @include media(mobile) {
        padding: $std-padding-mobile;
      }
      padding: $std-padding;
    }
  }
}
