body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .constrainer {
    height: 100%;
    margin: 0 auto;
    max-width: $site-max-width;
  }

  > header {
    @include media(desktop) {
      margin-top: $margin-page-top-bottom;
    }
    @include media(mobile) {
      padding-bottom: 1rem;
      text-align: center;
    }
    font-size: 2rem;
    .constrainer {
      @include media(mobile) {
        padding: $short-standard-padding-mobile;
      }
      padding: $short-standard-padding;
    }
    a:hover { text-decoration: none; }
    #site-header {
      @include media(mobile) {
        flex-direction: column;
      }
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }
    #site-logo {
      @include mobile-full-width;
      font-size: 4rem;
    }
    #site-name {
      @include mobile-full-width;
      font-family: $mono-font-stack;
      letter-spacing: .1em;
    }
  }

  > #navbar {
    .constrainer {
      @include media(mobile) {
        flex-direction: column-reverse;
        padding: $short-standard-padding-mobile;
        text-align: center;
      }
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      padding: $short-standard-padding;
    }
    a:hover {
      text-decoration: none;
    }
    #page-message {
      @include mobile-full-width;
    }
    nav {
      @include media(mobile) {
        margin-bottom: 1rem;
        width: 100%;
      }
      font-family: $mono-font-stack;
      font-size: 1.1rem;
      min-width: 360px;
      ul {
        display: flex;
        justify-content: space-between;
      }
      li.active {
        font-weight: $semibold;
        ::after {
          content: '<';
          margin-left: .25rem;
        }
        ::before {
          content: '>';
          margin-right: .25rem;
        }
      }
    }
  }

  #content {
    @include media(desktop) {
      display: flex;
      flex-direction: column;
    }
    flex-grow: 1;

    .constrainer {
      @include media(desktop) {
        align-items: stretch;
        flex-direction: row-reverse;
        flex-grow: 1;
        width: 100%;
      }
      display: flex;
      flex-direction: column-reverse;

      > * {
        @include media(mobile) {
          padding: $standard-padding-mobile;
        }
        padding: $standard-padding;
      }

      > main {
        @include media(desktop) {
          max-width: $content-max-width;
          width: 100%;
        }
        padding-bottom: 1rem;

        p,
        ul,
        ol {
          line-height: 1.6;
        }
      }

      > aside {
        @include media(desktop) {
          flex-grow: 1;
        }
        font-family: $mono-font-stack;
        font-size: 1.1rem;
        > * {
          margin-bottom: 3rem;
        }
        details {
          summary h4 {
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
          }
          ul {
            font-variant: small-caps;
            margin-top: .75rem;
            text-transform: lowercase;
            .current {
              font-weight: $semibold;
            }
          }
        }
      }
    }
  }

  > footer {
    margin-bottom: $margin-page-top-bottom;
    .constrainer {
      @include media(mobile) {
        padding: $standard-padding-mobile;
      }
      padding: $standard-padding;
    }
  }
}
