// breakpoints, simple and easy
@mixin media($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 814px) {
      @content;
    }
  }
  @else if $breakpoint == 'desktop' {
    @media (min-width: 815px) {
      @content;
    }
  }
}

// for text we want read by screen readers,
// but never seen onscreen
@mixin only-heard {
  display: block;
  height: 0;
  text-indent: -9999px;
}

@mixin roundrect-button {
  -webkit-appearance: none; // for iOS/Safari only, BOO!
  background: #fff;
  border: 1px solid $mint;
  border-radius: 5px;
  color: $mint;
  font-size: 1rem;
  margin: 3.125rem auto 0;
  padding: 10px 0;
  text-transform: uppercase;
  &:hover {
    background-color: $mint;
    color: #fff;
    text-decoration: none;
  }
}
