ul.pager {
  align-items: stretch;
  display: flex;
  font-family: $mono-stack;
  font-size: .94rem;
  font-weight: normal;
  list-style: none !important;
  margin: 3rem 0 4rem !important;
  width: 100%;
  .pager-pages {
    @include media(mobile) {
      width: 100%;
    }
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .pager-item {
    border: 1px solid;
    border-radius: 50%;
  }
  .pager-prev,
  .pager-item,
  .pager-next {
    line-height: 30px;
    margin: 0 .5rem;
    padding: 0;
    a:hover {
      text-decoration: none;
    }
  }
  .pager-prev,
  .pager-next {
    width: 120px;
    a:hover {
      font-weight: bold;
    }
    .arrow {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
  .pager-prev {
    .arrow { margin-right: .5rem; }
  }
  .pager-next {
    text-align: right;
    .arrow { margin-left: .5rem; }
  }
}
