// font stack
$font-stack: luxi sans, dejavu sans, bitstream vera sans, lucida grande, verdana, helvetica, arial, sans-serif;

// font weights
// $light:     300;
// $semibold:  600;
// $bold:      700;

// dimensions
$content-max-width: 820px;
$site-max-width: 1200px;

$standard-padding: 2rem 1rem;
$margin-page-top-bottom: 2rem;
