// font stack
$font-stack: luxi sans, dejavu sans, bitstream vera sans, lucida grande, verdana, helvetica, arial, sans-serif;

// font weights
// $light:     300;
// $semibold:  600;
// $bold:      700;

// colors
$bg-blue: #181f41;
$bg-black: #000;
$mint: #44adb8;

// dimensions
$content-max-width: 970px;
$site-max-width: 1200px;
