.blog-post {
  > * {
    margin-bottom: 1.5rem;
  }

  main {
    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }

  }

  footer {
    .post-info {
      > div {
        margin-bottom: .25rem;
      }
    }
    .comments {
      margin-top: 2rem;
      > * {
        margin-bottom: 1.25rem;
      }
    }
  }
}
