.blog-post {
  &:not(.micro) > * {
    margin-bottom: 1.5rem;
  }

  &.micro {
    &.on-index {
      header {
        margin-right: .5rem;
      }
      header, main {
        display: inline-block;
      }
    }
    &:not(.on-index) {
      header {
        display: none;
      }
    }
  }

  main {
    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }
  }

  footer {
    .post-info {
      > div {
        margin-bottom: .25rem;
      }
    }
  }
}
