#blog-index {
  > h2.page-title {
    margin-bottom: 3rem;
  }
  > article {
    margin-bottom: 3rem;
  }
  section.pagination {
    margin: 6rem 0 0;
  }
}

.template-blogindex {
  .gbtn.gnext,
  .gbtn.gprev {
    display: none !important; // override glightbox
  }
}
