#blog-index {
  > h2.page-title {
    margin-bottom: 5rem;
  }
  > article {
    margin-bottom: 5rem;
  }
  section.pagination {
    margin: 6rem 0 0;
  }
  .tag-description {
    margin: -3rem 0 5rem;
  }
}
