.blog-post {
  &:not(.micro) > * {
    margin-bottom: 1.5rem;
  }

  &.micro {
    &.on-index:not(.snapshot) {
      // position the asterism
      > header {
        float: left;
        margin: .25rem .5rem 0 0;
      }
    }
    &:not(.on-index) {
      > header {
        display: none;
      }
    }
  }

  &.micro.snapshot {
    &.on-index {
      > header {
        margin-bottom: 1rem;
      }
    }
  }

  .post-info {
    > div {
      margin-bottom: .25rem;
    }
    .post-date span {
      white-space: nowrap;
    }
    @include media(desktop) {
      .post-date {
        white-space: nowrap;
      }
      .post-comments {
        white-space: nowrap;
      }
      > div {
        display: inline-block;
        &:not(:first-child)::before {
          content: '∘';
          float: left;
          height: 100%;
          margin-right: .5rem;
        }
      }
    }
  }

  footer {
    margin-top: 1rem;
  }
}
