.comments {
  margin-top: 2rem;
  > * {
    margin-bottom: 1.25rem;
  }
  .comments-tree {
    margin-bottom: 2rem;
    > .comment-container {
      margin-bottom: 1rem;
    }
  }
  .comment-container {
    display: flex;
    .comment-container {
      margin-top: 1rem;
    }
    .gravatar {
      margin-right: 1rem;
      min-width: 48px;
    }
  }
  .comment-content {
    > main > * {
      margin-top: .45rem;
    }
  }
}

.comment-form-container {
  form {
    fieldset { border: none; }
    input[type='submit'] {
      border: none;
      padding: .5rem 1rem;
    }
    input[type='text'] {
      margin-top: .25rem;
    }
    input[type='text'],
    textarea {
      border: none;
      max-width: 500px;
      padding: .25rem .5rem;
      width: 100%;
    }
    textarea {
      height: 8rem;
    }
    .has-danger,
    .has-error {
      input {
        border: 2px solid $red;
      }
    }
    .row {
      margin-top: 1rem;
    }
  }
}
