.comments {
  margin-top: 4rem;
  > * {
    margin-bottom: 1.75rem;
  }
  .comments-tree {
    > .comment-container {
      margin-bottom: 1.5rem;
    }
  }
  .comment-container {
    display: flex;
    .comment-container {
      margin-top: 1.5rem;
    }
    .gravatar {
      margin-right: 1rem;
      min-width: 48px;
    }
  }
  .comment-content {
    > header,
    > main > * {
      margin-bottom: .5rem;
    }
    p {
      font-size: 1rem !important;
      line-height: 1.4 !important;
    }
    p:last-child {
      margin-bottom: 0;
    }
    div.reply-form-container {
      margin: 1.75rem 0 2.5rem;
    }
  }
}

body #content .comment-form-container {
  > details {
    margin-bottom: 1rem;
    &[open] summary {
      margin: 1rem 0;
    }
    summary {
      cursor: pointer;
    }
    ul {
      margin-left: 1rem;
    }
  }
  label,
  label + span {
    font-family: $sans-stack;
  }
  h4,
  .error-message {
    margin-bottom: 1rem;
  }
  form {
    fieldset { border: none; }
    input[type='text'],
    textarea {
      margin-top: .25rem;
      max-width: 500px;
      width: 100%;
    }
    textarea {
      height: 8rem;
    }
    .has-danger,
    .has-error {
      input, textarea {
        border: 2px solid $red;
      }
    }
    .row {
      margin-bottom: 1rem;
    }
  }
}

.template-reply {
  h2 {
    margin-bottom: 1rem;
  }
}
