#content {
  main {
    blockquote,
    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }
    blockquote {
      padding-left: 2rem;
    }
    code:only-child {
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
}
