#content {
  main {
    blockquote,
    p,
    ul,
    ol,
    summary {
      margin-bottom: 1rem;
    }
    summary {
      cursor: pointer;
    }
    blockquote {
      display: flow-root;
      padding-left: 3rem;
      p:last-child {
        margin-bottom: 0;
      }
    }
    code:only-child {
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
}
