// one-off page layout tweaks

main.slug-home-page {
  align-items: center;
  display: flex;
}
#home {
  margin: 2rem auto 0;
  text-align: center;
  @include media(desktop) {
    display: flex;
    max-width: 95%;
    text-align: center;
  }
  .block-image {
    @include media(desktop) {
      margin: 0 2rem 0 0;
    }
    @include media(mobile) {
      height: 75vw;
      width: 75vw;
    }
    margin: 0 auto 2rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .block-paragraph {
    @include media(desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 2rem;
      max-width: 65%;
    }
    @include media(mobile) {
      margin: 0 auto;
      max-width: 80%;
    }
    h3 {
      font-size: 1.75rem;
      margin-bottom: .75rem;
    }
    p {
      font-size: 1.45rem;
    }
  }
}

#museyroom {
  text-align: center;
}

.exhibition {
  margin-top: 3rem;
  position: relative;

  .block-image {
    figure {
      width: 100%;
    }
    img {
      @include media(mobile) {
        min-height: 120vh;
        object-fit: cover;
      }
      max-height: unset;
      width: 100%;
    }
  }

  .overlay {
    // @include media(desktop) {
    // }
    a {
      color: $blizzard-blue;
    }
    @include cut-corners(.75rem, .75rem, .75rem, .75rem);
    background-color: rgba(121, 140, 147, .85);
    color: $white;
    font-family: $sans-stack;
    left: 50%;
    padding: .5rem 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
  }
}


#archives {
  margin-top: 3rem;
  position: relative;

  > .block-image:first-child {
    figure {
      width: 100%;
    }
    img {
      @include media(mobile) {
        min-height: 120vh;
        object-fit: cover;
      }
      max-height: unset;
      width: 100%;
    }
  }

  .overlay {
    @include media(desktop) {
      left: unset;
      max-width: 44%;
      right: 6%;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: $blizzard-blue;
    }
    h3 + .block-paragraph {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      p {
        padding: 0 .25rem;
      }
    }
    .serif {
      font-family: $serif-stack;
    }
    h3 {
      margin: 1.5rem auto;
    }
    @include cut-corners(3rem, 3rem, 3rem, 3rem);
    background-color: rgba(121, 140, 147, .85);
    border-radius: 4px;
    color: $white;
    font-family: $sans-stack;
    left: 50%;
    padding: 2rem 4rem;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
  }
}

// about page: two-column treatment for desktop only
@include media(desktop) {
  .page-body.slug-about,
  .page-body.slug-mn50 {
    display: table;
    .column {
      display: table-cell;
      vertical-align: top;
      &:last-child {
        width: 60%;
      }
    }
    .block-image figure.float {
      max-width: unset;
      img {
        max-height: unset;
      }
    }
  }
}
