.block-image {
  margin-bottom: 1rem;
  figcaption {
    caption-side: bottom;
    display: table-caption;
    margin-top: .4rem;
    p {
      font-size: .9rem !important;
      line-height: 1.4 !important;
      margin-bottom: 0 !important;
    }
  }
  figure {
    display: table;
    &.float {
      @include media(desktop) {
        max-width: 40%;
        img {
          max-height: unset;
        }
        &.left {
          float: left;
          margin: .5rem 3rem .5rem 0;
        }
        &.right {
          float: right;
          margin: .5rem 0 .5rem 3rem;
        }
      }
    }
  }
  img {
    @include media(desktop) {
      max-height: 95vh;
    }
  }
}

.block-embed {
  margin: 2rem auto;
}

.block-slides {
  margin-bottom: 1rem;
  .slide-homebrew {
    img {
      max-width: 49%;  // fix for mobile; make 2 cols happen at 360px, etc.
    }
  }
}

// boilerplate for responsive wagtail embeds
// https://docs.wagtail.io/en/latest/topics/writing_templates.html#responsive-embeds
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.block-heading {
  font-size: 1.55rem;
  margin: 1.5rem 0;
}
