@import 'vars';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'attrs';

@import 'layout';

// @import 'hamburger';
@import 'back_to_top';

@import 'blog_index';

body {
  transition: all .3s;
}

a, a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
