@import 'vars';
@import 'colors';
@import 'fonts';
@import 'mixins';

@import 'layout';
@import 'pager';
@import 'theme_picker';

@import 'blog_index';
@import 'blog_post';
@import 'comments';
@import 'search';
@import 'zoom';

@import 'vendor/highlight.a11y-light';
@import 'vendor/highlight.ir-black';
@import 'vendor/highlight.xt256';

body {
  transition: all .25s;
}

a, a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.dquo {
  margin-left: -.5rem;
}
