@import 'vars';
@import 'colors';
@import 'fonts';
@import 'mixins';

@import 'layout';
@import 'back_to_top';
@import 'pager';
@import 'theme_picker';

@import 'blog_index';
@import 'blog_post';
@import 'comments';
@import 'search';

body {
  transition: all .15s;
}

a, a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.dquo {
  margin-left: -.5rem;
}
