#theme-picker {
  height: 20px;
  position: relative;
  top: -3px;
}

body.theme-light {
  #theme-picker {
    .light, .retro { display: none; }
  }
}
body.theme-dark {
  #theme-picker {
    .light, .dark { display: none; }
  }
}
body.theme-retro {
  #theme-picker {
    .dark, .retro { display: none; }
  }
}
