#content.content-zoom {
  > .constrainer > main {
    padding: 5rem 0 7rem;
    text-align: center;
  }
  figcaption {
    caption-side: bottom;
    display: table-caption;
    font-size: .9rem !important;
    line-height: 1.4 !important;
    margin-top: .4rem;
  }
  figure { display: table; }
}

.zoom {
  display: flex;
  justify-content: center;
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(100vh - 3rem);
  }
  img {
    max-height: calc(100vh - 3rem);
  }
  .parent-link {
    margin-bottom: 5px;
  }
}

.zoom.slide {
  a:hover { text-decoration: none; }
  figure {
    position: relative;
  }
  figcaption {
    background-color: rgba(0, 0, 0, .5);
    bottom: 5px;  // applies to fullpage version
    margin: 0 !important;
    padding: .35rem 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    p {
      color: $white;
      font-size: 1rem !important;
      margin: 0 !important;
      max-height: 5rem;
      overflow-y: scroll;
    }
  }
  .next, .prev {
    bottom: -17px;
    font-style: italic;
    line-height: 1rem;
    position: absolute;
    span {
      font-style: normal;
    }
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
}
up-modal-content {
  .zoom.slide {
    figcaption {
      bottom: 0;  // applies to modal version
    }
  }
  .parent-link {
    display: none;
  }
}
up-modal-viewport {
  align-items: center;
  display: flex;
  flex-direction: column;
}
