#content.content-zoom {
  > .constrainer > main {
    padding: 5rem 0 7rem;
    text-align: center;
  }
  figcaption {
    caption-side: bottom;
    display: table-caption;
    font-size: .9rem !important;
    line-height: 1.4 !important;
    margin-top: .4rem;
  }
  figure { display: table; }
}

.zoom {
  display: flex;
  justify-content: center;
  img {
    max-height: calc(100vh - 3rem);
  }
}

.zoom.set {
  a:hover { text-decoration: none; }
  figure {
    position: relative;
  }
  .next, .prev {
    font-size: 4rem;
    position: absolute;
    top: calc(50% - 2rem);
  }
  .next {
    right: -17px;
  }
  .prev {
    left: -17px;
  }
}
