#content.content-zoom {
  > .constrainer > main {
    padding: 5rem 0 7rem;
    text-align: center;
  }
  figcaption {
    caption-side: bottom;
    display: table-caption;
    font-size: .9rem !important;
    line-height: 1.4 !important;
    margin-top: .4rem;
  }
  figure { display: table; }
}

.zoom {
  display: flex;
  justify-content: center;
  figure, img {
    height: calc(100vh - 3rem);
  }
}

.zoom.set {
  a:hover { text-decoration: none; }
  figure {
    position: relative;
  }
  .next, .prev {
    bottom: -1rem;
    font-style: italic;
    line-height: 1rem;
    position: absolute;
    span {
      font-style: normal;
    }
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
}
