[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wagtail = "*"
Django = "<2.3,>=2.2"
mysqlclient = "*"
django-dbbackup = "*"
django-debugtools = "*"
django-extensions = "*"
werkzeug = "*"
python-dateutil = "*"
django-compressor = "*"
django-libsass = "*"

[requires]
python_version = "3.6"
