{% extends "mnmnwag/base.html" %}
{% load static wagtailcore_tags %}

{% block title %}subscribe{% endblock %}

{% block content %}

    <div class="force-sans">

        {% if not email %}

            <div style=" max-width: 350px;">
                <p style="line-height: 1.2; margin-bottom: 1.5rem;">
                    <i>Subscribe to receive email notifications for new blog posts on this site. Your address will never be sold or spammed.</i>
                </p>
                {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
                {% for error in form.non_field_errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
                {% for error in form.email.errors %}<p style="color: red;">{{ error }}</p>{% endfor %}
                <form class="subs" action="{% url 'sub_create' %}" method="POST" up-target="#content" up-fail-target="#content" up-transition="cross-fade">
                    {% csrf_token %}
                    <input type="hidden" name="timestamp" value="{{ form.timestamp_value }}">
                    <div style="display: none;">{{ form.honeypot }}</div>
                    <label class="h3" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                        <br><br>
                        {{ form.email }}
                        <br><br>
                    </label>
                    <br>
                    <input type="submit" value="subscribe" style-as-button>
                </form>
            </div>

        {% else %}

            {% if already_active %}
            <p class="h3" style="margin: 2rem; text-align: center;">
                The email address you entered already has an active subscription.
            </p>
            {% else %}
            <p class="h3" style="margin: 2rem; text-align: center;">
                Subscription request received for: {{ email }}
            </p>
            <p class="h3" style="margin: 2rem; text-align: center;">
                Please check your email for a confirmation link.
            </p>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}
