{% extends "mnmnwag/base.html" %}
{% load static wagtailcore_tags %}

{% block title %}subscribe{% endblock %}

{% block content %}

    <div class="force-sans">

        {% if not email %}

            <p style="line-height: 1.2; margin-bottom: 1.5rem; max-width: 350px;">
                <i>Subscribe to receive email notifications for new blog posts on this site. Your address will never be sold or spammed.</i>
            </p>
            <form class="subs" action="{% url 'sub_create' %}" method="POST" up-target="#content" up-transition="cross-fade">
                {% csrf_token %}
                <label class="h3">
                    your email address:
                    <br><br>
                    <input type="email" name="email" placeholder="reader@example.org">
                    <br><br>
                </label>
                <input type="submit" value="subscribe" style-as-button>
            </form>

        {% else %}

            <p style="margin: 2rem; text-align: center;">
                Subscription request received for: {{ email }}
            </p>
            <p style="margin: 2rem; text-align: center;">
                Please check your email for a confirmation link.
            </p>

        {% endif %}

    </div>

{% endblock %}
