{% extends "mnmnwag/base.html" %}

{% block title %}Password required{% endblock %}

{% block content %}

    <h2>Password required</h2>

    <div class="page-body type-{{ page.content_type.model }} slug-{{ page.slug }}">
        {% block password_required_message %}
            <p style="margin-top: 2rem;">Got the password, bub?</p>
        {% endblock %}
        <form action="{{ action_url }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input style-as-button style="margin-top: 2rem;" type="submit" value="continue" class="button" />
        </form>
    </div>

{% endblock %}
