/* #181f41 */
:root {
  --w-color-primary-hue: 230;
  --w-color-primary-saturation: 46%;
  --w-color-primary-lightness: 17%;
}

input[value='danger'] ~ section textarea,
input[value='raw_HTML'] ~ section textarea,
textarea#id_body,
input#id_old_path {
  font-family: monospace;
  font-size: .9rem;
}
