{% extends "mnmnwag/base.html" %}
{% load static wagtailcore_tags %}
{% load capture_tags %}
{% load typefixes %}

{% block title %}search{% endblock %}

{% block content %}
    <div class="page-search">

        <form action="{% url 'search' %}" method="get" up-target="#navbar,#content">
            <label for="search_query"><h2>Search</h2></label>
            <input id="search_query" placeholder="enter your query" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input type="submit" value="search" style-as-button>
        </form>

        {% if search_results %}
            {% for post in search_results %}
                <article class="blog-post{% if post.specific.is_micro %} micro{% endif %} on-index">
                    {% include "mnmnwag/blog_post_header.html" %}
                    <p>
                        {% if post.content_type.model == 'modernpost' %}
                            {# add page_id and block_id to block context (req'd by ImageBlock and SlidesBlock) #}
                            {% capture as content silent %}
                                {% for block in post.specific.body %}
                                    <div class="block-{{ block.block_type }}">
                                        {% include_block block with page_id=post.id block_id=block.id|slice:'0:7' %}
                                    </div>
                                {% endfor %}
                            {% endcapture %}
                            {{ content|striptags|truncatewords:50|typefixes }}
                        {% else %}
                            {{ post.specific.body|striptags|truncatewords:50|typefixes }}
                        {% endif %}
                        {# {% if result.search_description %} #}
                        {#     {{ result.search_description }} #}
                        {# {% endif %} #}
                    </p>
                    {% include "mnmnwag/blog_post_footer.html" %}
                </article>
            {% endfor %}

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            <p>Your query returned no results.</p>
        {% endif %}

    </div>
{% endblock %}
