ul.leaders {
  list-style: none;
  max-width: 40em;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  li::before {
    content:
      '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . '
      '. . . . . . . . . . . . . . . . . . . . ';
    float: left;
    white-space: nowrap;
    width: 0;
  }
  span:first-child {
    background: var(--bg-color);
    padding-right: .33em;
  }
  span + span {
    background: var(--bg-color);
    float: right;
    padding-left: .33em;
  }
}
