{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static from staticfiles %}
{% load typefixes %}

<figure>
    <picture>
        {% image value.image width-800 as small_image %}
        <a href="{% url 'zoom_image' value.image.id %}" up-modal=".zoom">
            <img src="{{ small_image.file.url }}" alt="{{ value.alt_text }}">
        </a>
    </picture>
    {% if value.caption %}
    <figcaption class="caption"><p>{{ value.caption|richtext|typefixes }}</p></figcaption>
    {% endif %}
</figure>
