{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% load typefixes %}

<figure class="{% if value.float == 1 %}float left {% endif %}{% if value.float == 2 %}float right {% endif %}{% if value.max_width and '%' not in value.max_width %}px-width{% endif %}"{% if value.max_width %} style="--max-width: {{ value.max_width }};"{% endif %}>
    <picture>
        {% image value.image width-800 as small_image %}

        {% if value.link %}
            <a href="{{ value.link }}">
        {% elif value.zoom == 1 %}
            <a href="{% url 'zoom_image' page_id=page_id image_id=value.image.id %}" up-layer="new modal" up-history="true" up-class="zoom">
        {% endif %}

        <img src="{{ small_image.file.url }}" alt="{{ value.alt_text|default:value.image.description }}">

        {% if value.link or value.zoom == 1 %}
            </a>
        {% endif %}
    </picture>
    {% if value.caption %}
        <figcaption class="caption">{{ value.caption|richtext|typefixes }}</figcaption>
    {% endif %}
</figure>
