{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load prefix %}
{% load static %}
{% load typefixes %}

{% for slide in value.slides %}

    {% image slide.image fill-180x180 as small_image %}
    <picture class="slide-homebrew">
        <a href="{% url 'zoom_slide' page_id=page_id block_id=block_id pos=forloop.counter0 %}" up-layer="new modal" up-history="true" up-animation="fade-in">
            <img src="{{ small_image.file.url }}" alt="{% if slide.alt_text %}thumbnail for {{ slide.alt_text }}{% endif %}">
        </a>
    </picture>

    {# if this is a gallery page, we write out an alternate version of the slide here: #}
    {# if javascript is enabled, then this version will be revealed and the homebrew version hidden #}
    {# (homebrew version provides a js-free, full-roundtrips gallery fallback) #}
    {% if is_gallery %}
        {% image slide.image original as original_image %}
        {% prefix as this_prefix %}
        <picture class="slide-gallery" style="display: none;">
            <a href="{{ original_image.url }}" data-sub-html=".{{ this_prefix }}{{ forloop.counter }}">
                <img src="{{ small_image.file.url }}" alt="{% if slide.alt_text %}thumbnail for {{ slide.alt_text }}{% endif %}">
            </a>
            <div class="{{ this_prefix }}{{ forloop.counter }}" style="display: none;">{{ slide.caption|richtext|typefixes_minimal }}</div>
        </picture>
    {% endif %}

{% endfor %}
