{% load wagtailimages_tags %}
{% load static %}

{% for slide in value.slides %}

    {% image slide.image fill-180x180 as small_image %}
    <picture class="slide">
        {% if page_id %}
            <a href="{% url 'zoom_slide' page_id=page_id block_id=block_id pos=forloop.counter0 %}"
               up-layer="new modal" up-class="lightbox" up-animation="fade-in"
               up-placeholder="#lightbox-placeholder">
                <img src="{{ small_image.file.url }}" alt="thumbnail link to full image" loading="lazy">
            </a>
        {% else %}
            <img src="{{ small_image.file.url }}" alt="thumbnail link to full image" loading="lazy">
        {% endif %}
    </picture>

{% endfor %}
