[style-as-button] {
  font-size: 1rem;
}

h2, .h2 {
  font-family: var(--sans-stack);
  font-size: 1.6rem;
}

h3, .h3 {
  font-size: 1.45rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

code, kbd, samp {
  font-size: 1rem;
  font-weight: var(--semibold);
}

input[type='text'],
textarea {
  font-family: var(--mono-stack);
}

#slogan {
  text-transform: uppercase;
  text-wrap: balance;
}

.annotation-toggle {
  span {
    &::before {
      content: '×';
      font-size: 2rem;
      line-height: 0;
      margin-right: .45rem;
    }
    font-family: var(--sans-stack);
    font-variant: small-caps;
  }
}

.asterism {
  /* Raleway does not have the asterism, so we force Alegreya
     to prevent a fallback to system fonts */
  font-family: var(--serif-stack);
  position: relative;
  top: 2px;
}

.force-mono {
  font-family: var(--mono-stack);
}

.force-sans {
  font-family: var(--sans-stack);
}

.force-serif,
.mahna {
  font-family: var(--serif-stack);
}

.post-title {
  font-weight: var(--semibold);
}

.post-info {
  font-style: italic;
  & > div::after {
    font-style: normal;
  }
}

.read-more {
  font-family: var(--sans-stack);
  font-size: 1.15rem;
  font-weight: var(--semibold);
  letter-spacing: .2rem;
  text-transform: lowercase;
}

.tag-description {
  p {
    font-size: 1.45rem;
    font-style: italic;
  }
}

.comment-content {
  .content {
    font-size: 1.15rem;
  }
}

.comment-form-container {
  > details {
    summary {
      font-size: .75rem;
      font-weight: var(--semibold);
      text-transform: uppercase;
    }
    li {
      font-size: .9rem;
    }
  }
  form {
    label,
    label + span {
      font-size: .75rem;
      font-weight: var(--semibold);
    }
    label {
      text-transform: uppercase;
    }
    input[type='text'],
    textarea {
      font-size: 1.15rem;
    }
    .checkbox label {
      font-size: .85rem;
      font-weight: normal;
      text-transform: none;
    }
  }
}


/* MAIN LAYOUT (see layout.css) */
body {
  font-family: var(--serif-stack);

  #header {
    font-family: var(--sans-stack);
    font-size: 2rem;
    #site-logo {
      font-family: var(--mono-stack);
      font-size: 4rem;
      letter-spacing: -.12em;
    }
    #site-name {
      letter-spacing: .1em;
    }
  }

  #navbar {
    font-family: var(--sans-stack);
    #page-message {
      font-weight: var(--semibold);
    }
    nav {
      font-size: 1.1rem;
      a.active,
      a.up-active {
        font-weight: var(--semibold);
      }
    }
  }

  #content {
    .constrainer > aside {
      font-family: var(--sans-stack);
      h4, .h4 {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    /* maintains style during unpoly transition */
    .constrainer main.blog,
    .constrainer > main {
      p,
      blockquote,
      ul,
      ol,
      details {
        font-size: 1.25rem;
        line-height: var(--normal-line-height);
      }
      blockquote {
        font-style: italic;
        em, i {
          font-style: normal;
        }
      }

      header,
      footer {
        font-family: var(--sans-stack);
      }
    }
  }

  > footer {
    font-family: var(--sans-stack);
  }
}

form.subs {
  input {
    font-size: 1.25rem;
  }
}

#stats {
  b {
    font-weight: var(--semibold);
  }
}
