ul.pager {
  align-items: center;
  display: flex;
  font-family: var(--mono-stack);
  font-size: .94rem;
  font-weight: normal;
  list-style: none !important;
  margin: 3rem 0 4rem !important;
  width: 100%;
  .pager-item:not(.dots) {
    border: 2px solid;
    border-radius: 50%;
  }
  .pager-prev,
  .pager-item,
  .pager-next {
    line-height: 30px;
    margin: 0 .25rem;
    padding: 0;
    a:hover {
      text-decoration: none;
    }
  }
  .pager-prev,
  .pager-next {
    a:hover {
      font-weight: bold;
    }
    .arrow {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
  .pager-prev {
    margin-right: auto;
    .arrow { margin-right: .5rem; }
  }
  .pager-next {
    margin-left: auto;
    .arrow { margin-left: .5rem; }
  }
}
