/* one-off page layout tweaks */

main.slug-home-page {
  align-items: center;
  display: flex;
}
#home {
  margin: 2rem auto 0;
  text-align: center;
  @media (width >= 920px) {
    display: flex;
    max-width: 95%;
    text-align: center;
  }
  .block-image {
    @media (width >= 920px) {
      margin: 0 2rem 0 0;
    }
    @media (width < 920px) {
      height: 75vw;
      width: 75vw;
    }
    margin: 0 auto 2rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .block-paragraph {
    @media (width >= 920px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 2rem;
      max-width: 65%;
    }
    @media (width < 920px) {
      margin: 0 auto;
      max-width: 80%;
    }
    h3 {
      font-size: 1.75rem;
      margin-bottom: .75rem;
    }
    p {
      font-size: 1.45rem;
    }
  }
}

#museyroom {
  text-align: center;
}

.exhibition {
  margin-top: 3rem;
  position: relative;

  .block-image {
    figure {
      width: 100%;
    }
    img {
      @media (width < 920px) {
        min-height: 120vh;
        object-fit: cover;
      }
      max-height: unset;
      width: 100%;
    }
  }

  .overlay {
    a {
      color: var(--blizzard-blue);
    }
    background-color: rgb(121 140 147 / .85);
    clip-path: polygon(.75rem 0%, calc(100% - .75rem) 0%, 100% .75rem, 100% calc(100% - .75rem), calc(100% - .75rem) 100%, .75rem 100%, 0% calc(100% - .75rem), 0% .75rem);
    color: var(--white);
    font-family: var(--sans-stack);
    font-weight: bold;
    left: 50%;
    padding: .5rem 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
  }
  h3 {
    font-size: 1.85rem;
  }
}
body.theme-light .overlay {
  background-color: rgb(171 190 197 / .85);
}



#archives {
  margin-top: 3rem;
  position: relative;

  > .block-image:first-child {
    figure {
      width: 100%;
    }
    img {
      @media (width < 920px) {
        min-height: 120vh;
        object-fit: cover;
      }
      max-height: unset;
      width: 100%;
    }
  }

  .overlay {
    @media (width >= 920px) {
      left: unset;
      max-width: 44%;
      right: 6%;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: var(--blizzard-blue);
    }
    h3 + .block-paragraph {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      p {
        padding: 0 .25rem;
      }
    }
    .serif {
      font-family: var(--serif-stack);
    }
    h3 {
      margin: 1.5rem auto;
    }
    background-color: rgb(121 140 147 / .85);
    border-radius: 4px;
    clip-path: polygon(3rem 0%, calc(100% - 3rem) 0%, 100% 3rem, 100% calc(100% - 3rem), calc(100% - 3rem) 100%, 3rem 100%, 0% calc(100% - 3rem), 0% 3rem);
    color: var(--white);
    font-family: var(--sans-stack);
    left: 50%;
    padding: 2rem 4rem;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
  }
}

/* about page: two-column treatment for desktop only */
@media (width >= 920px) {
  .page-body.slug-about,
  .page-body.slug-mn50 {
    display: table;
    .column {
      display: table-cell;
      vertical-align: top;
      &:last-child {
        width: 60%;
      }
    }
    .block-image figure.float {
      max-width: unset;
      img {
        max-height: unset;
      }
    }
  }
}
