#content #seevooplay {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  ul {
    margin-left: 0;
  }
  ul.messages {
    list-style: none;
  }

  #id_extra_guests {
    margin: 0 .5rem;
  }
  .event-details tr {
    vertical-align: baseline;
  }
  .event-image img {
    max-width: 35%;
  }
}
