#navbar {
  @include media(tiny) {
    font-size: .9rem;
  }
  border-bottom: 1px solid var(--fg-color);
  border-top: 1px solid var(--fg-color);
  margin: 1.75rem 0 2.75rem;
  padding: .35rem .5rem .1rem;
  width: 100%;
  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @include media(desktop) {
      padding-left: 2rem;
    }
  }
  li {
    margin: 0 .5rem;
    text-align: center;
  }
  a {
    line-height: 1.35rem;
    position: relative;
    text-decoration: none;
    &, &:visited {
      color: var(--fg-color);
    }
    &.active {
      @include media(mobile) {
        font-variant: small-caps;
        font-weight: 900;
      }
      font-weight: bold;
      &::before,
      &::after {
        @include media(mobile) {
          display: none;
        }
        font-size: 1.25rem;
        font-weight: 900;
        position: relative;
        top: 1px; // it really does make a difference :P
      }
      &::before {
        content: '>';
        left: -3px;
        &:first-child, &:nth-child(3) {
          @include media(mobile) {
            margin-left: -1.5rem;
          }
        }
      }
      &::after {
        content: '<';
        left: 3px;
      }
    }
    &:hover {
      span {
        border-bottom: 1px solid var(--fg-color);
      }
    }
  }
}
