#navbar {
  border-bottom: 1px solid var(--fg-color);
  border-top: 1px solid var(--fg-color);
  margin: 3rem 0;
  padding: .35rem .5rem .1rem;
  width: 100%;
  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
  }
  a {
    &, &:visited {
      color: var(--fg-color);
    }
    line-height: 1.35rem;
    position: relative;
    text-decoration: none;
    &.active {
      font-weight: var(--semibold);
      top: -2px;
      &::before,
      &::after {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: normal;
        position: relative;
        text-decoration: none;
        top: 2px;
      }
      &::before {
        content: '⏵';
        left: -3px;
      }
      &::after {
        content: '⏴';
        left: 3px;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
