{% spaceless %}
{% load compress %}
{% load django_browser_reload %}
{% load get_theme_class %}
{% load navigation_tags %}
{% load static %}
{% load typefixes %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% endspaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% spaceless %}
            {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
            {% block title_suffix %} | mahna mahna .net{% endblock %}
            {% endspaceless %}
        </title>
        {# <meta name="description" content=""> #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/atom+xml" title="feed for mahnamahna.net/blog" href="{% url 'feed' %}">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favs/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favs/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favs/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favs/site.webmanifest' %}">

        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/minireset.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/unpoly.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/font_faces.css' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            {# override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% get_theme_class %} {% block body_class %}{% endblock %}">

        <header id="header">

            <div class="constrainer">
                <div id="site-header">
                    <div id="site-logo">
                        <a href="/" rel="home" up-nav-link>
                            /\/\/\/
                        </a>
                    </div>
                    <div id="site-name">
                        <a href="/" rel="home" up-nav-link>
                            <h1>mahna mahna .net</h1>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <section id="navbar">
            <div class="constrainer">
                <div id="page-message">
                    {% if page.page_message %}
                        {{ page.page_message|richtext|typefixes }}
                    {% elif page_message %}
                        {{ page_message|richtext|typefixes }}
                    {% endif %}
                </div>
                <nav aria-label="primary site navigation">
                    <ul role="menubar">
                        {% get_site_root as site_root %}
                        {% top_menu parent=site_root calling_page=self %}
                    </ul>
                </nav>
            </div>
        </section>

        <section id="content" class="{% block content_class %}{% endblock %}">
            <div class="constrainer">
                {% if page.content_type.model == 'blogindex' or page.content_type.model == 'modernpost' or page.content_type.model == 'legacypost' %}
                    <aside>
                        {% include "mnmnwag/sidebar_theme.html" %}
                        {% include "mnmnwag/sidebar_subscribe.html" %}
                        {% include "mnmnwag/sidebar_archives.html" %}
                        {% include "mnmnwag/sidebar_blogroll.html" %}
                    </aside>
                {% endif %}

                {% if page.content_type.model == 'blogindex' or page.content_type.model == 'modernpost' or page.content_type.model == 'legacypost' %}
                    <main class="blog">
                {% else %}
                    <main>
                {% endif %}
                    {% block content %}{% endblock %}
                </main>
            </div>
        </section>

        <footer id="footer">
            <div class="constrainer">
                <p>
                    © {% now "Y" %}
                    Matthew Newton. Published under a
                    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons License</a>.
                </p>
            </div>
            {% wagtailuserbar 'bottom-left' %}
            <div class="fake wagtail-userbar-items"></div>
        </footer>

        {% compress js %}
            <script src="{% static 'js/vendor/unpoly.min.js' %}"></script>
            <script src="{% static 'js/vendor/highlight.pack.js' %}"></script>
            <script src="{% static 'js/vendor/swiped-events.min.js' %}"></script>
            <script src="{% static 'js/cookies.js' %}"></script>
            <script src="{% static 'js/theme_picker.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        {% endcompress %}

        <script data-goatcounter="https://mahnamahna.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

        {% block extra_js %}
            {# override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
