{% load capture_tags %}
{% load comments %}
{% load comments_xtd %}
{% load typefixes %}
{% load wagtailcore_tags %}

<article class="blog-post{% if post.specific.is_micro %} micro{% endif %}{% if page.content_type.model == 'blogindex' %} on-index{% endif %}">
    <header>
        {% if page.content_type.model == 'blogindex' %}
            <a href="{% pageurl post %}" up-target="#header, #content" up-transition="cross-fade">
                {% if not post.specific.is_micro %}
                    <h3 class="post-title">{{ post.title|typefixes }}</h3>
                {% else %}
                    ⁂
                {% endif %}
            </a>
        {% else %}
            {% if not post.specific.is_micro %}
                <h2 class="post-title">{{ post.title|typefixes }}</h2>
            {% endif %}
        {% endif %}
    </header>

    <main>
        {% with post.specific.body as body %}
            {% if page.content_type.model == 'blogindex' %}
                {% if post.content_type.model == 'legacypost' %}
                    {{ body|richtext|typefixes|truncatewords_html:150 }}
                    {% ifnotequal body|richtext|typefixes|truncatewords_html:150|length body|richtext|typefixes|truncatewords_html:151|length %}
                        <a class="read-more" href="{% pageurl post %}" up-target="#header, #content" up-transition="cross-fade">read more…</a>
                    {% endifnotequal %}
                {% elif post.content_type.model == 'modernpost' %}
                    {% capture as body1 %}{% include_block body|typefixes|truncatewords_html:150 %}{% endcapture %}
                    {% capture as body2 silent %}{% include_block body|typefixes|truncatewords_html:151 %}{% endcapture %}
                    {% ifnotequal body1 body2 %}
                        <a class="read-more" href="{% pageurl post %}" up-target="#header, #content" up-transition="cross-fade">read more…</a>
                    {% endifnotequal %}
                {% endif %}
            {% else %}
                {% if post.content_type.model == 'legacypost' %}
                    {{ body|richtext|typefixes }}
                {% elif post.content_type.model == 'modernpost' %}
                    {% include_block body|typefixes %}
                {% endif %}
            {% endif %}
        {% endwith %}
    </main>

    <footer>
        <section class="post-info">
            <div class="post-date">
                posted {{ post.specific.first_published_at|date:"j F Y" }}
                at {{ post.specific.first_published_at|date:"g:i a" }}
            </div>
            <div class="post-tags">
                filed under
                {% for item in post.specific.tagged_items.all|dictsort:"tag" %}
                    <a href="/blog/tag/{{ item.tag.slug }}" up-target="#header, #content" up-transition="cross-fade">#{{ item.tag.name }}</a>
                {% endfor %}
            </div>
            {% if post.specific.has_comments_enabled %}
                {% if page.content_type.model == 'blogindex' %}
                    {% get_comment_count for post.specific as comment_count %}
                    <div class="post-comments">
                        <a href="{% pageurl post %}#comments" up-target="#header, #content" up-transition="cross-fade">
                        {% if comment_count %}
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                        {% else %}
                            leave a comment
                        {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </section>
        {% if page.content_type.model != 'blogindex' %}
            <section class="comments">
                {% if page.has_comments_enabled %}
                    {% get_comment_count for post as comment_count %}
                    <h3 id="comments">
                        {% if comment_count %}
                            {{ comment_count }}
                        {% endif %}
                        Comment{{ comment_count|pluralize:",s" }}
                    </h3>
                    {% if comment_count %}
                        <div class="comments-tree">
                            {% render_xtdcomment_tree for post %}
                        </div>
                    {% endif %}
                    <div class="comment-form-container">
                        <h4>Leave a comment! It's easy! No account required.</h4>
                        {% render_comment_form for post %}
                    </div>
                {% else %}
                    <div>Comments are disabled for this post.</div>
                {% endif %}
            </section>
        {% endif %}
    </footer>

</article>
