{% load typefixes %}
{% load wagtailcore_tags %}

<header>
    {% if page.content_type.model == 'blogindex' or is_search_page %}
        <a href="{% pageurl post %}" up-blog-link>
            {% if not post.specific.is_micro %}
                <h3 class="post-title">{{ post.title|typefixes }}</h3>
            {% else %}
                ⁂
            {% endif %}
        </a>
    {% else %}
        {% if not post.specific.is_micro %}
            <h2 class="post-title">{{ post.title|typefixes }}</h2>
        {% endif %}
    {% endif %}

    {% if not post.specific.is_micro %}
        {% include "mnmnwag/blog_post_info.html" %}
    {% endif %}
</header>
