{% load capture_tags %}
{% load comments %}
{% load typefixes %}
{% load wagtailcore_tags %}

<article class="blog-post">
    <header>
        {% if page.content_type.model == 'blogindex' %}
            <a href="{% pageurl post %}">
                <h3 class="post-title">{{ post.title|typefixes }}</h3>
            </a>
        {% else %}
            <h2 class="post-title">{{ post.title|typefixes }}</h2>
        {% endif %}
    </header>

    <main>
        {% with post.specific.body as body %}
            {% if page.content_type.model == 'blogindex' %}
                {% if post.content_type.model == 'legacypost' %}
                    {{ body|richtext|typefixes|truncatewords_html:150 }}
                    {% ifnotequal body|richtext|typefixes|truncatewords_html:150|length body|richtext|typefixes|truncatewords_html:151|length %}
                        <a class="read-more" href="{% pageurl post %}">read more…</a>
                    {% endifnotequal %}
                {% elif post.content_type.model == 'modernpost' %}
                    {% capture as body1 %}{% include_block body|typefixes|truncatewords_html:150 %}{% endcapture %}
                    {% capture as body2 silent %}{% include_block body|typefixes|truncatewords_html:151 %}{% endcapture %}
                    {% ifnotequal body1 body2 %}
                        <a class="read-more" href="{% pageurl post %}">read more…</a>
                    {% endifnotequal %}
                {% endif %}
            {% else %}
                {% if post.content_type.model == 'legacypost' %}
                    {{ body|richtext|typefixes }}
                {% elif post.content_type.model == 'modernpost' %}
                    {% include_block body|typefixes %}
                {% endif %}
            {% endif %}
        {% endwith %}
    </main>

    <footer>
        <section class="post-info">
            <div class="post-date">
                posted {{ post.specific.first_published_at|date:"j F Y" }}
                at {{ post.specific.first_published_at|date:"g:i a" }}
            </div>
            <div class="post-tags">
                filed under
                {% for tag in post.specific.tagged_items.all %}
                    <a href="/blog/tag/{{ tag.tag.slug }}">
                        #{{ tag.tag.name }}
                    </a>
                {% endfor %}
            </div>
        </section>
        {% if page.content_type.model != 'blogindex' %}
            <section class="comments">
                <h3>Comments</h3>
                {% get_comment_count for post as comment_count %}
                {% if comment_count %}
                    <div class="comments-count">
                        {{ comment_count }} comment{{ comment_count|pluralize }}
                        ha{{ comment_count|pluralize:"s,ve" }} been posted.
                    </div>
                    <div class="comments-list">
                        {% render_comment_list for post %}
                    </div>
                {% endif %}
                <div class="comment-form">
                    <h4>Leave a comment! It's easy! No account required.</h4>
                    {% render_comment_form for post %}
                </div>
            </section>
        {% endif %}
    </footer>

</article>
