{% extends "mnmnwag/base.html" %}

{% load typefixes %}
{% load wagtailcore_tags %}

{% block title %}blog{% endblock %}
{% block body_class %}template-blogindex{% endblock %}

{% block content %}

    <div id="blog-index">

        {% if page.index_title %}
            <h2 class="page-title">{{ page.index_title|typefixes }}</h2>
        {% endif %}

        {% if page.tag_description %}
            <div class="tag-description">{{ page.tag_description|richtext|typefixes }}</div>
        {% endif %}

        {% for post in page.posts %}
            {% include "mnmnwag/blog_post.html" %}
        {% endfor %}

        {% if page.posts.paginator %}
            {% include "mnmnwag/site_pager.html" %}
        {% endif %}

    </div>

{% endblock %}
