{% load comments %}
{% load comments_xtd %}
{% load wagtailcore_tags %}

<footer>
    {% if post.specific.is_micro %}
        {% include "mnmnwag/blog_post_info.html" %}
    {% endif %}
    {% if page.content_type.model != 'blogindex' and not is_search_page %}
        <section class="comments">
            {% get_comment_count for post as comment_count %}
            <h3 id="comments">
                {% if comment_count %}
                    {{ comment_count }}
                {% endif %}
                Comment{{ comment_count|pluralize:",s" }}
            </h3>
            {% if comment_count %}
                <div class="comments-tree">
                    {% render_xtdcomment_tree for post %}
                </div>
            {% endif %}
            {% if page.has_comments_enabled %}
                <div class="comment-form-container">
                    <h4>Leave a comment! It’s easy! No account required.</h4>
                    <details>
                        <summary>Comments Policy</summary>
                        <ul>
                            <li>This site is its owner’s little corner of the web.</li>
                            <li>All comments are moderated. Nothing posts without the owner’s approval.</li>
                            <li>No trolls, bots, <a href="http://wondermark.com/1k62/">sea lions</a>,
                            or <a href="https://www.penny-arcade.com/comic/2004/03/19">shitcockery</a>. Be nice or leave.</li>
                        </ul>
                    </details>
                    {% render_comment_form for post %}
                </div>
            {% else %}
                <div>Commenting is disabled for this post.</div>
            {% endif %}
        </section>
    {% endif %}
</footer>
