{% load capture_tags %}
{% load wagtailcore_tags %}

<article class="blog-post">
    <header>
        <a href="{% pageurl post %}">
            {% if page.content_type.model == 'blogindex' %}
                <h3 class="post-title">{{ post.title }}</h3>
            {% else %}
                <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
        </a>
    </header>

    <main>
        {% with post.specific.body as body %}
            {% if post.content_type.model == 'legacypost' %}

                {{ body|richtext|truncatewords_html:150 }}
                {% ifnotequal body|richtext|truncatewords_html:150|length body|richtext|truncatewords_html:151|length %}
                    <a class="read-more" href="{% pageurl post %}">read more…</a>
                {% endifnotequal %}

            {% elif post.content_type.model == 'modernpost' %}

                {% capture as body1 %}{% include_block body|truncatewords_html:150 %}{% endcapture %}
                {% capture as body2 silent %}{% include_block body|truncatewords_html:151 %}{% endcapture %}
                {% ifnotequal body1 body2 %}
                    <a class="read-more" href="{% pageurl post %}">read more…</a>
                {% endifnotequal %}

            {% endif %}
        {% endwith %}
    </main>

    <footer>
        <div class="post-date">
            posted {{ post.specific.first_published_at|date:"j F Y" }}
            at {{ post.specific.first_published_at|date:"g:i a" }}
        </div>
        <div class="post-tags">
            filed under
            {% for tag in post.specific.tagged_items.all %}
                <a href="/blog/tag/{{ tag.tag.slug }}">
                    #{{ tag.tag.name }}
                </a>
            {% endfor %}
    </footer>

</article>
