{% extends "mnmnwag/base.html" %}

{# {% load capture_tags %} #}
{# {% load wagtailcore_tags %} #}
{# {% load compress %} #}
{# {% load static %} #}
{# {% load typefixes %} #}
{# {% load wagtailimages_tags %} #}

{% block title_suffix %}{% endblock %}
{% block body_class %}template-blogindex{% endblock %}

{% block content %}

    <div id="blog-index">

        {% if page.index_title %}
            <h2 class="page-title">{{ page.index_title }}</h2>
        {% endif %}

        {% for post in page.posts %}
            {% include "mnmnwag/blog_post.html" %}
        {% endfor %}

        {% if page.posts.paginator %}
            {% include "mnmnwag/site_pager.html" %}
        {% endif %}

    </div>

{% endblock %}

{% block extra_js %}
    {# {% compress js %} #}
        {# <script>$.endlessPaginate();</script> #}
    {# {% endcompress %} #}
{% endblock %}
