{% load typefixes %}
{% load wagtailcore_tags %}

<div id="archives-by-tag">
    <details>
        <summary>
            <h4>Archives By Tag</h4>
        </summary>
        {{ page.archives_by_tag|richtext|typefixes }}
    </details>
</div>

<div id="archives-by-date">
    <details>
        <summary>
            <h4>Archives By Date</h4>
        </summary>
        <ul>
            <li><a href="#">2020</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
        </ul>
    </details>
</div>
