{% load typefixes %}
{% load wagtailcore_tags %}

{% if page.blogroll %}
    <div id="subscribe">
        <details open>
            <summary>
                <h4>Subscribe / Follow</h4>
            </summary>
            <ul>
                <li><a href="{% url 'sub_create' %}" up-layer="new modal">via email</a></li>
                <li><a href="{% url 'feed' %}">via RSS</a></li>
                <li><a href="https://sfba.social/@mahnamahna">via Mastodon</a></li>
                <li><strike>via Twitter</strike></li>
            </ul>
        </details>
    </div>
{% endif %}
