<div id="archives-by-tag">
    <details>
        <summary>
            <h4>Archives By Tag</h4>
        </summary>
        <ul>
            <li><a href="#">#life</a></li>
            <li><a href="#">#micro</a></li>
            <li><a href="#">#site</a></li>
        </ul>
    </details>
</div>

<div id="archives-by-date">
    <details>
        <summary>
            <h4>Archives By Date</h4>
        </summary>
        <ul>
            <li><a href="#">2020</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
        </ul>
    </details>
</div>
