{# {% load navigation_tags %} #}
{# {% load static %} #}

<div class="container">

    <a href="/" id="site-link" rel="home">
        <h1 id="site-name">mnmnwag</h1>
    </a>

    {# <input type="checkbox" id="main_menu" name="main_menu" /> #}
    {# <label for="main_menu"> #}
    {#     <div class="hamburger hamburger--elastic" type="button" aria-label="Menu" aria-controls="main_menu"> #}
    {#     <span class="hamburger-box"> #}
    {#         <span class="hamburger-inner"></span> #}
    {#     </span> #}
    {#     </div> #}
    {# </label> #}

    {# <nav id="site-nav" aria-label="Primary site navigation"> #}
    {#     <ul role="menubar"> #}
    {#     {% get_site_root as site_root %} #}
    {#     {% top_menu parent=site_root calling_page=self %} #}
    {#     <li class="menuitem givenow"> #}
    {#         <a href="/give-now/">Give Now</a> #}
    {#     </li> #}
    {#     </ul> #}
    {# </nav> #}

</div>

