{% load compress static %}

<meta charset="utf-8" />
<title>
    {% spaceless %}
    {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
    {% block title_suffix %} | mahna mahna .net {% endblock %}
    {% endspaceless %}
</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{# <link rel="shortcut icon" href="{% static 'img/script_cal.ico' %}" type="image/vnd.microsoft.icon" /> #}

{# Global stylesheets #}
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/minireset.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/unpoly.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font_faces.css' %}">
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/styles.scss' %}">
{% endcompress %}

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
{% endblock %}
