{% load is_numeric %}

{% if page.posts.has_previous or page.posts.has_next %}

<section class="pagination">
    <ul class="pager">
        <li class="pager-prev">
            {% if page.posts.has_previous %}
                <a title="previous page" href="?&page={{ page.posts.previous_page_number }}" up-content-link>
                    <span class="arrow">&lt;</span>
                </a>
            {% endif %}
        </li>

        <div class="pager-pages">
        {% for page_num in page.posts.paginator.display_range %}
            <li class="pager-item{% if page_num == page.posts.number %} active{% endif %}">
                {% if page_num|is_numeric %}
                    <a href="?&page={{ page_num }}" up-content-link>
                {% endif %}
                &nbsp;{{ page_num }}&nbsp;
                {% if page_num|is_numeric %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
        </div>

        <li class="pager-next">
            {% if page.posts.has_next %}
                <a class="next page" href="?&page={{ page.posts.next_page_number }}" up-content-link>
                    <span class="arrow">&gt;</span>
                </a>
            {% endif %}
        </li>
    </ul>
</section>

{% endif %}
