{% extends "mnmnwag/base.html" %}

{% load wagtailimages_tags %}

{% block title %}{% if img %}{{ img.filename }}{% endif %}{% if old_img %}{{ old_img.filename }}{% endif %}{% endblock %}

{% block content_class %}content-zoom{% endblock %}

{% block content %}

        {% image img original as zoom_img %}
        <div class="zoom{% if prev_pos or next_pos %} set{% endif %}">
            <figure>
                {% if prev_pos %}
                    <a id="go-prev" class="prev" href="{% url 'zoom_slide' page_id=page_id block_id=block_id pos=prev_pos %}" up-layer="current"><span>&laquo;</span> previous</a>
                {% endif %}

                <img src="{{ zoom_img.url }}">

                {% if next_pos %}
                    <a id="go-next" class="next" href="{% url 'zoom_slide' page_id=page_id block_id=block_id pos=next_pos %}" up-layer="current">next <span>&raquo;</span></a>
                {% endif %}
            </figure>
        </div>

{% endblock %}
