{% extends "mnmnwag/base.html" %}

{% load wagtailimages_tags %}

{% block title %}{% if img %}{{ img.filename }}{% endif %}{% if old_img %}{{ old_img.filename }}{% endif %}{% endblock %}

{% block content_class %}content-zoom{% endblock %}


{% block content %}

    {% if img %}

        {% image img original as zoom_img %}
        <div class="zoom"><img src="{{ zoom_img.url }}"></div>

    {% elif old_img %}

        <div class="zoom old">
            <figure>
                <img src="{{ old_img.url }}">
                <figcaption class="caption">{{ old_img.caption }}</figcaption>
            </figure>
        </div>

    {% endif %}

{% endblock %}
