{% extends "mnmnwag/base.html" %}

{# Used by LegacyPosts only. ImageBlock zooms moved to the lightbox #}
{# (mnmnwag/lightbox.html); these are flat files from the blosxom import, #}
{# with no Image record behind them. #}

{% block title %}{{ old_img.filename }}{% endblock %}

{% block content_class %}content-zoom{% endblock %}

{% block content %}

    <div class="zoom old">
        <figure>
            <img src="{{ old_img.url }}">
            <figcaption class="caption">{{ old_img.caption }}</figcaption>
        </figure>
    </div>

{% endblock %}
