from .dev import *  # noqa: F403, F401
# from .production import *  # noqa: F403, F401


# DJANGO_SECRET_KEY *should* be specified in the environment. If it's not, generate an ephemeral key.
if 'DJANGO_SECRET_KEY' in os.environ:
    SECRET_KEY = os.environ['DJANGO_SECRET_KEY']
else:
    # Use if/else rather than a default value to avoid calculating this if we don't need it
    print("WARNING: DJANGO_SECRET_KEY not found in os.environ. Generating ephemeral SECRET_KEY.")
    SECRET_KEY = ''.join([random.SystemRandom().choice(string.printable) for i in range(50)])


# Database
# https://docs.djangoproject.com/en/2.2/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'FIXME',
        'USER': 'FIXME',
        'PASSWORD': 'FIXME',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}


# django-comments(-xtd)

MANAGERS = (('Firstname Lastname', 'user@example.org'),)
COMMENTS_XTD_FROM_EMAIL = 'bot@example.org'


# Override settings here
