{% extends "madprops/base.html" %}

{% load capture_tags %}
{% load typefixes %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-madpropsarchives{% endblock %}

{% block content %}

    <h2>{{ page.title }}</h2>

    <div class="page-body type-{{ page.content_type.model }} slug-{{ page.slug }}">
        {# add page_id and block_id to block context (req'd by ImageBlock and SlidesBlock) #}
        {% capture as content silent %}
            {% for block in page.body %}
                {% if block.block_type != "danger" %}
                    <div class="block-{{ block.block_type }}">
                        {% include_block block with page_id=page.id block_id=block.id|slice:'0:7' %}
                    </div>
                {% else %}
                    {# danger blocks don't get the typical wrapper divs #}
                    {% include_block block|typefixes %}
                {% endif %}
            {% endfor %}
        {% endcapture %}
        {{ content|typefixes }}
    </div>

    <div id="archives">
        <ul>
            {% for edition in editions %}
                <li><a href="{% pageurl edition %}">{{ edition.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
