{% spaceless %}
{% load compress %}
{% load get_theme_class %}
{% load navigation_tags %}
{% load mad_nav_tags %}
{% load static %}
{% load typefixes %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% endspaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% spaceless %}
            {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
            {% block title_suffix %}{% endblock %}
            {% endspaceless %}
        </title>
        {# <meta name="description" content=""> #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# TODO: replace with modern icons #}
        <link rel="shortcut icon" href="{% static 'madprops/img/favicon.ico' %}" type="image/vnd.microsoft.icon" />

        {# <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favs/apple-touch-icon.png' %}"> #}
        {# <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favs/favicon-32x32.png' %}"> #}
        {# <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favs/favicon-16x16.png' %}"> #}
        {# <link rel="manifest" href="{% static 'img/favs/site.webmanifest' %}"> #}

        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'madprops/css/font_faces.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/minireset.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/unpoly.min.css' %}">
            <link rel="stylesheet" type="text/x-scss" href="{% static 'madprops/scss/main.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            {# override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% get_theme_class %} {% block body_class %}{% endblock %}">

        <div class="constrainer">
            <a class="invisible" href="/">
                <header id="header">
                    <div>
                        <h1>Mad Props</h1>
                        <div id="site-slogan">your independent guide to California’s ballot&nbsp;initiatives</div>
                    </div>
                    <div class="logo">
                        {% include 'madprops/logo.html' %}
                    </div>
                </header>
            </a>

            <section id="navbar">
                <div class="constrainer">
                    <nav aria-label="primary site navigation">
                        <ul role="menubar">
                            {% get_site_root as site_root %}
                            {% mad_props_nav home=site_root calling_page=self %}
                            <li id="theme-picker">
                                <div class="light">
                                    <a title="switch to light mode" data-theme="light" href="/theme/light">
                                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--fg-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <desc>moon icon</desc>
                                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                        </svg>
                                    </a>
                                </div>
                                <div class="dark">
                                    <a title="switch to dark mode" data-theme="dark" href="/theme/dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--fg-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <desc>sun icon</desc>
                                            <circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                        </svg>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

            <section id="content" class="{% block content_class %}{% endblock %}">
                <div class="constrainer">
                    <main {% if page.slug %}class="slug-{{ page.slug }}"{% endif %}>
                        {% block content %}{% endblock %}
                    </main>
                </div>
            </section>

            <footer id="footer">
                <div class="constrainer">
                    <p>© {% now "Y" %} <a href="/about">the Mad Propster</a>. All rights reserved.</p>
                    <p>Est'd 2008.</p>
                </div>
                {% wagtailuserbar 'bottom-left' %}
                <div class="fake wagtail-userbar-items"></div>
            </footer>

            <div id="backtotop">
                <a title="back to top" aria-label="back to top" href="#header">
                    {# chevron-up.svg from heroicons.com #}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <desc>chevron pointing up</desc>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>
                </a>
            </div>

        </div>

        {% compress js %}
            <script src="{% static 'js/vendor/unpoly.min.js' %}"></script>
            <script src="{% static 'js/cookies.js' %}"></script>
            <script src="{% static 'js/theme_picker.js' %}"></script>
            <script src="{% static 'madprops/js/main.js' %}"></script>
        {% endcompress %}

        {# TODO: enable goatcounter for madprops #}
        {# <script data-goatcounter="https://mahnamahna.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> #}

        {% block extra_js %}
            {# override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
